div.contentContainer {
  width: 44%;
  margin: 0 auto;

}

h4 {
  font-weight: 600;
    font-size: 10pt;
}

div.trendingContainer {
  width: 100%;
  height: 260px;
}

a.trendingPost {
  display: inline-block;
  width: 22%;
  height: 180px;
  vertical-align: top;
  background-size: contain;
  position: relative;
  border-radius: 11px;
  margin: 0 0.6%;
  padding: 5px;
}

a.trendingPost::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: rgba(0, 0, 0, .5);
  border-radius: 11px;
}


a.trendingPost p {
  color: white;
  position: absolute;
  bottom: 0;
  z-index: 2;
  font-weight: 600;
}

div.feedContainer {
  width: 70%;
}

div.filterBar {
  width: 100%;
  height: 60px;
  background-color: #FFF;
  border-radius: 4px;
  margin-bottom: 30px;
}

div.filterBar button.filterButton {
  height: 35px;
  width: 9%;
  background-color: #F6F7F8;
  border: none;
  margin: 13px 6px;
  border-radius: 39%;
  cursor: pointer;
  font-weight: 600;
  color: #878A8C;
  outline: none;
}

div.filterBar button.filterButton.selected {
  color: #0079D3;
}

div.filterBar button.filterButton:hover {
  background-color: #F0F0F0;
  color: #111;
}

div.sortButtonContainer {
  float: right;
  width: 9%;
  height: 35px;
  background-color: #FFF;
  border-radius: 39%;
  cursor: pointer;
  margin: 13px 6px;
  position: relative;
}

div.sortButtonContainer:hover {
  background-color: #F6F7F8;
}

div.sortMenuContainer {
  position: absolute;
  top: 35px;
  box-shadow: 3px 3px 10px #CCC;
  z-index: 3;
}

div.sortMenuContainer button:last-child {
  border: none;
  border-radius: 0 0 6px 6px;
}

div.sortMenuContainer button:first-child {
  border-radius: 6px 6px 0 0;
}

div.sortMenuContainer button {
  height: 40px;
  width: 100px;
  background-color: #FFF;
  border: none;
  outline: none;
  color: #878A8C;
  font-weight: 600;
  cursor: pointer;
  border-bottom: 2px solid #F6F7F8;
}

div.sortMenuContainer button.selected {
  color: #0079D3;
}

div.sortMenuContainer button:hover {
  color: #111;
  background-color: #E6F5FA;
}

img.sortMenuArrowIcon {
  width: 10px;
  vertical-align: top;
  margin-top: 13px;
}

.viewButtonIcon {
  color: #0079D3;
  display: inline-block;
  margin: 8px 4px 8px 20px;
}

div.feedPostContainer {
  background-color: #FFF;
  border-radius: 4px;
  user-select: none;
  margin-bottom: 15px;
  position: relative;
}

div.feedPostContainer h3 {
  margin: 8px 2px;
  font-weight: 600;
  font-size: 15pt;
  max-width: 95%;
}

div.feedPostContentContainer {
  margin-left: 6%;
}

div.voteBarContainer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 5%;
  background-color: #F8F9FA;
  text-align: center;
  margin: 5px 5px 0 0;
}

div.voteBarContainer p {
  margin: 5px 0;
  font-weight: 800;
  font-size: 10pt;
}

div.voteBarContainer svg {
  width: 40%;
  cursor: pointer;
  fill: #878A8C;
}

div.voteBarContainer svg.upvoteSelected {
  fill: #FF7B01;
}

div.voteBarContainer svg.downvoteSelected {
  fill: #0079D3;
}

div.voteBarContainer svg:first-child {
  vertical-align: bottom;
}

div.voteBarContainer svg:first-child:hover {
  fill: #FF7B01;
}

div.voteBarContainer svg:last-child {
  vertical-align: top;
}

div.voteBarContainer svg:last-child:hover {
  fill: #0079D3;
}

div.authorBarContainer {
  margin: 3px 0;
}

div.authorBarContainer * {
  display: inline-block;
  margin: 1px 3px;
}

div.authorBarContainer p {
  color: #929597;
  font-size: 9pt;
}

div.socialBarContainer {
  padding-bottom: 5px;
}

div.socialBarContainer * {
  display: inline-block;
  font-weight: 700;
  font-size: 10pt;
  color: #878A8C;
}

div.socialBarContainer p {
  margin: 0 3px;
  cursor: pointer;
}

div.socialBarContainer button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  line-height: 30px;
}

div.socialBarContainer div {
  height: 30px;
  border-radius: 3px;
}

div.socialBarContainer div:hover {
  background-color: #DAE0E6;
}

div.commentContainer {
  line-height: 30px;
}

div.shareButtonContainer {
  margin-left: 8px;
  padding-left: 5px;
  width: 70px;
}

div.shareButtonContainer * {
  display: inline-block;
}

div.shareButtonContainer svg {
  width: 18%;
  fill: #878A8C;
}

div.textFeedPostContentContainer p {
  margin-bottom: 5px;
  font-size: 12pt;
}

div.imageFeedPostContentContainer img {
  max-width: 90%;
  max-height: 600px;
  margin: 0 auto;
  display: block;
}

div.articleFeedPostContentContainer a {
  font-size: 9pt;
  display: block;
}

div.articleFeedPostContentContainer div {
  max-width: 65%;
  display: inline-block;
  vertical-align: top;
  margin-right: 5%;
}

div.articleFeedPostContentContainer img {
  max-width: 25%;
  display: inline-block;
  border-radius: 10px;
}